<%- model_class = Deliverable.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:project_id) %></th>
      <th><%= model_class.human_attribute_name(:spec_name) %></th>
      <th><%= model_class.human_attribute_name(:spec_progress) %></th>
      <th><%= model_class.human_attribute_name(:ba_deliverable_id) %></th>
      <th><%= model_class.human_attribute_name(:tech_deliverable_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @deliverables.each do |deliverable| %>
      <tr>
        <td><%= link_to deliverable.id, deliverable_path(deliverable) %></td>
        <td><%= deliverable.description %></td>
        <td><%= deliverable.user.name %></td>
        <td><%= deliverable.project.name %></td>
        <td><%= deliverable.spec_name %></td>
        <td><%= deliverable.spec_progress %></td>
        <td><%= deliverable.ba_deliverable.comment if defined?(ba_deliverable_id) %></td>
        <td><%= deliverable.tech_deliverable_id if defined?(tech_deliverable_id) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_deliverable_path(deliverable), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      deliverable_path(deliverable),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_deliverable_path,
            :class => 'btn btn-primary' %>
